body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.filter-container {
    position: absolute;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    top: 10px;
    left: 10px;
    z-index: 1;
    background: grey;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-group {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: absolute;
    top: 60px; /* Positioned below filter-container */
    left: 10px; /* Align to the left */
    z-index: 1;
    border-radius: 3px;
    width: 120px;
    color: white;
}

.filter-group input[type='checkbox']:first-child + label {
    border-radius: 3px 3px 0 0;
}

.filter-group label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
}

.filter-group input[type='checkbox'] {
    display: none;
}

.filter-group input[type='checkbox'] + label {
    background-color: grey;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group input[type='checkbox']:checked + label {
    background-color: green;
}
